/* 
Linking to this modular CSS folder in index.html leads to 
only some of the styles loading (ex. valuelines and area are all black)

Is this happening because of the precedence of inline styles over included?

Does the SVG styles/inherits have higher precedence than the modular CSS?
*/

/*body {
  font: 20px sans-serif;
}

.f {
  font: 20px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}

.line2 {
  fill: none;
  stroke: maroon;
  stroke-width: 4px;  
}

.area {
  fill: #C9A7B8;
}

.axisLeft {
  fill: steelblue;
}

.axisRight {
  fill: maroon;
}

.yAxisLabel {
  writing-mode    : vertical-lr;
  text-orientation: upright;
  text-anchor     : middle;
  letter-spacing  : -.2em
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: .7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}*/